{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="auth-container">
    <h2>Set New Password</h2>
    <form method="post" id="authForm">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">{{ field }}</div>
            {% if field.errors %}<div class="alert error">{{ field.errors.0 }}</div>{% endif %}
        {% endfor %}
        <button type="submit" class="btn-primary">RESET PASSWORD</button>
    </form>
</div>
{% endblock %}